* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
  font-family: 'ZenSerif';
  src: url('ZEN-SERIF-TTF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ZenSerif', Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(228, 199, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

.container{
    max-width: 1200px;
    margin: 0 auto ;
    padding:  0 20px;
}

.navbar{
    background-color: rgb(201, 152, 250);
    padding: 1rem 0;
    box-shadow: 0 2px;
    margin-bottom: 2rem;
}

.logo {
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
}
.menu {
    display: flex;
    list-style: none;
    gap: 30rem;

}

.menu a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-weight: 500;
   transition: color 0.3s;


}

.menu a:hover,
.menu a.active{
    color: rgb(145, 35, 189);
    
}
.hero {
    background: linear-gradient(135deg, #b570c7 0%, #d4b4ff 100%);
    color: black;
    padding: 2rem 0;
    text-align: center;
}
.hero h2 {
    font-size: 2.0rem;
    margin-bottom: 0.3rem;
}

.hero p{
    font-size: 1.2rem; 
    opacity: 0.95;
}

.credits-section h3{
    padding: 3rem 0;
}
.credits-section h3{
    font-size: 2rem;
    color: #000000;
    margin-bottom: 2rem;
}
.credits-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 2rem;
    margin-bottom: 7rem;
}
.credit-card{
  background: #d1b4d8;
  border-radius: 12;
  padding: 1.5rem;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

}

.credit-card :hover{
    transform: translate(-px);
    box-shadow: 0 4px 15 rgba(0, 0, 0, 0.1);
}
.card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    margin-bottom: 1rem;
}
.details{
    margin-bottom: 1.5rem;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}


.btn-primaryy {
  display: inline-block;
  background-color: rgb(153, 51, 255);   /* morado fuerte */
  color: white;                          /* texto blanco */
  font-weight: bold;
  padding: 10px 18px;
  border: none;
  border-radius: 25px;                   /* esquinas redondeadas */
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;                 /* quita subrayado si es un <a> */
  transition: all 0.2s ease;             /* animación suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primaryy:hover {
  transform: translateY(-3px);           /* efecto de elevación */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
